<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.goj.user.mapper.RoleMapper">

    <select id="getRoleByUser" resultType="org.goj.common.entity.user.Role">
        SELECT * FROM role a JOIN user_role b ON a.role_id=b.role_id WHERE b.user_id=#{userId}
    </select>
</mapper>
